<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="container"></highcharts-chart>

<table id="datatable">
    <thead>
        <tr>
            <th>3-10 Days</th>
            <th>Year</th>
            <th>Quater1</th>
            <th>Sales</th>
            <th>Quater2</th>
            <th>Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>7</td>
            <td>2022</td>
            <td>March-Sept</td>
            <td>20%</td>
            <td>Sep-March</td>
            <td>30%</td>
        </tr>
        <tr>
            <td>9</td>
            <td>2021</td>
            <td>March-Sept</td>
            <td>45.0%</td>
            <td>Sep-March</td>
            <td>90%</td>
        </tr>
    </tbody>
</table>

<table id="datatable">
    <thead>
        <tr>
            <th>>10 Days</th>
            <th>Year</th>
            <th>Quater1</th>
            <th>Sales</th>
            <th>Quater2</th>
            <th>Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>13</td>
            <td>2022</td>
            <td>March-Sept</td>
            <td>54%</td>
            <td>Sep-March</td>
            <td>38.6%</td>
        </tr>
        <tr>
            <td>12</td>
            <td>2021</td>
            <td>March-Sept</td>
            <td>77.0%</td>
            <td>Sep-March</td>
            <td>90.0%</td>
        </tr>
    </tbody>
</table>

<div #chartContainer style="min-width: 310px; height: 400px; margin: 0 auto;"></div>